body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1792px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1792px;
  height:918px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1792px;
  height:918px;
  display:flex;
}
#u950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:54px;
  background:inherit;
  background-color:rgba(238, 245, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:480px;
  width:267px;
  height:54px;
  display:flex;
}
#u951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:54px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:487px;
  width:351px;
  height:54px;
  display:flex;
}
#u952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:40px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:494px;
  width:123px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u953 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:69px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:480px;
  width:152px;
  height:69px;
  display:flex;
}
#u954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
