body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-166px;
  width:1204px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:107px;
  width:121px;
  height:48px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:101px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:66px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:98px;
  width:110px;
  height:66px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:66px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:98px;
  width:110px;
  height:66px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:66px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:346px;
  width:110px;
  height:66px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:468px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:584px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:701px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:804px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:56px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:921px;
  width:100px;
  height:56px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:131px;
  width:0px;
  height:0px;
}
#u444_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:78px;
  height:10px;
}
#u444_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u444_seg2 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-16px;
  width:32px;
  height:32px;
}
#u444_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:131px;
  width:0px;
  height:0px;
}
#u445_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:86px;
  height:10px;
}
#u445_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u445_seg2 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-16px;
  width:32px;
  height:32px;
}
#u445_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:131px;
  width:0px;
  height:0px;
}
#u446_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:104px;
  height:10px;
}
#u446_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u446_seg2 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-16px;
  width:32px;
  height:32px;
}
#u446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:412px;
  width:0px;
  height:0px;
}
#u447_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:61px;
}
#u447_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u447_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:39px;
  width:32px;
  height:32px;
}
#u447_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:528px;
  width:0px;
  height:0px;
}
#u448_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:61px;
}
#u448_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u448_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:39px;
  width:32px;
  height:32px;
}
#u448_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:644px;
  width:0px;
  height:0px;
}
#u449_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:62px;
}
#u449_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u449_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:40px;
  width:32px;
  height:32px;
}
#u449_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:761px;
  width:0px;
  height:0px;
}
#u450_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:48px;
}
#u450_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u450_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:26px;
  width:32px;
  height:32px;
}
#u450_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:864px;
  width:0px;
  height:0px;
}
#u451_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:62px;
}
#u451_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u451_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:40px;
  width:32px;
  height:32px;
}
#u451_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:66px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:98px;
  width:110px;
  height:66px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:131px;
  width:0px;
  height:0px;
}
#u453_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:67px;
  height:10px;
}
#u453_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u453_seg2 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-16px;
  width:32px;
  height:32px;
}
#u453_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:164px;
  width:0px;
  height:0px;
}
#u454_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:65px;
}
#u454_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u454_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:43px;
  width:32px;
  height:32px;
}
#u454_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:56px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:216px;
  width:100px;
  height:56px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:324px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:164px;
  width:0px;
  height:0px;
}
#u457_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:57px;
}
#u457_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u457_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:35px;
  width:32px;
  height:32px;
}
#u457_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:272px;
  width:0px;
  height:0px;
}
#u458_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:57px;
}
#u458_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u458_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:35px;
  width:32px;
  height:32px;
}
#u458_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:56px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:216px;
  width:100px;
  height:56px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:324px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:272px;
  width:0px;
  height:0px;
}
#u461_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:57px;
}
#u461_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u461_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:35px;
  width:32px;
  height:32px;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:164px;
  width:0px;
  height:0px;
}
#u462_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:57px;
}
#u462_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u462_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:35px;
  width:32px;
  height:32px;
}
#u462_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:131px;
  width:0px;
  height:0px;
}
#u463_seg0 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-5px;
  width:39px;
  height:10px;
}
#u463_seg1 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-5px;
  width:10px;
  height:123px;
}
#u463_seg2 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:108px;
  width:38px;
  height:10px;
}
#u463_seg3 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u463_seg4 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:97px;
  width:32px;
  height:32px;
}
#u463_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:47px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:224px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:349px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:1264px;
  top:346px;
  width:106px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:284px;
  width:0px;
  height:0px;
}
#u467_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:67px;
}
#u467_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u467_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:45px;
  width:32px;
  height:32px;
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:1032px;
  top:379px;
  width:0px;
  height:0px;
}
#u468_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:67px;
  height:10px;
}
#u468_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u468_seg2 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-16px;
  width:32px;
  height:32px;
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:1194px;
  top:379px;
  width:0px;
  height:0px;
}
#u469_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:40px;
  height:10px;
}
#u469_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-5px;
  width:10px;
  height:11px;
}
#u469_seg2 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-4px;
  width:40px;
  height:10px;
}
#u469_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u469_seg4 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-15px;
  width:32px;
  height:32px;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
