body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-166px;
  width:1204px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:107px;
  width:121px;
  height:48px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:101px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:66px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:98px;
  width:110px;
  height:66px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:66px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:98px;
  width:110px;
  height:66px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:66px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:346px;
  width:110px;
  height:66px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:468px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:584px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:701px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:804px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:56px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:921px;
  width:100px;
  height:56px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:131px;
  width:0px;
  height:0px;
}
#u462_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:78px;
  height:10px;
}
#u462_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u462_seg2 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-16px;
  width:32px;
  height:32px;
}
#u462_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:131px;
  width:0px;
  height:0px;
}
#u463_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:86px;
  height:10px;
}
#u463_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u463_seg2 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-16px;
  width:32px;
  height:32px;
}
#u463_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:131px;
  width:0px;
  height:0px;
}
#u464_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:104px;
  height:10px;
}
#u464_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u464_seg2 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-16px;
  width:32px;
  height:32px;
}
#u464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:412px;
  width:0px;
  height:0px;
}
#u465_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:61px;
}
#u465_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u465_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:39px;
  width:32px;
  height:32px;
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:528px;
  width:0px;
  height:0px;
}
#u466_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:61px;
}
#u466_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u466_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:39px;
  width:32px;
  height:32px;
}
#u466_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:644px;
  width:0px;
  height:0px;
}
#u467_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:62px;
}
#u467_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u467_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:40px;
  width:32px;
  height:32px;
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:761px;
  width:0px;
  height:0px;
}
#u468_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:48px;
}
#u468_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u468_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:26px;
  width:32px;
  height:32px;
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:864px;
  width:0px;
  height:0px;
}
#u469_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:62px;
}
#u469_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u469_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:40px;
  width:32px;
  height:32px;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:66px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:98px;
  width:110px;
  height:66px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:131px;
  width:0px;
  height:0px;
}
#u471_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:67px;
  height:10px;
}
#u471_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u471_seg2 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-16px;
  width:32px;
  height:32px;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:164px;
  width:0px;
  height:0px;
}
#u472_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:65px;
}
#u472_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u472_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:43px;
  width:32px;
  height:32px;
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:56px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:216px;
  width:100px;
  height:56px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:324px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:164px;
  width:0px;
  height:0px;
}
#u475_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:57px;
}
#u475_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u475_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:35px;
  width:32px;
  height:32px;
}
#u475_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:272px;
  width:0px;
  height:0px;
}
#u476_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:57px;
}
#u476_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u476_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:35px;
  width:32px;
  height:32px;
}
#u476_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:56px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:216px;
  width:100px;
  height:56px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:324px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:272px;
  width:0px;
  height:0px;
}
#u479_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:57px;
}
#u479_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u479_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:35px;
  width:32px;
  height:32px;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:164px;
  width:0px;
  height:0px;
}
#u480_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:57px;
}
#u480_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u480_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:35px;
  width:32px;
  height:32px;
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:131px;
  width:0px;
  height:0px;
}
#u481_seg0 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-5px;
  width:39px;
  height:10px;
}
#u481_seg1 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-5px;
  width:10px;
  height:123px;
}
#u481_seg2 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:108px;
  width:38px;
  height:10px;
}
#u481_seg3 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u481_seg4 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:97px;
  width:32px;
  height:32px;
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:47px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:224px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:349px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:1264px;
  top:346px;
  width:106px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:284px;
  width:0px;
  height:0px;
}
#u485_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:67px;
}
#u485_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u485_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:45px;
  width:32px;
  height:32px;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:1032px;
  top:379px;
  width:0px;
  height:0px;
}
#u486_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:67px;
  height:10px;
}
#u486_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u486_seg2 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-16px;
  width:32px;
  height:32px;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:1194px;
  top:379px;
  width:0px;
  height:0px;
}
#u487_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:40px;
  height:10px;
}
#u487_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-5px;
  width:10px;
  height:11px;
}
#u487_seg2 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-4px;
  width:40px;
  height:10px;
}
#u487_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u487_seg4 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-15px;
  width:32px;
  height:32px;
}
#u487_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
