body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-153px;
  width:854px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:315px;
  width:123px;
  height:43px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:51px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:311px;
  width:85px;
  height:51px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:315px;
  width:123px;
  height:43px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:315px;
  width:123px;
  height:43px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:51px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:311px;
  width:85px;
  height:51px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:495px;
  width:123px;
  height:43px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:51px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:422px;
  width:85px;
  height:51px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:337px;
  width:0px;
  height:0px;
}
#u279_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:64px;
  height:10px;
}
#u279_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u279_seg2 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-9px;
  width:18px;
  height:18px;
}
#u279_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:337px;
  width:0px;
  height:0px;
}
#u280_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:60px;
  height:10px;
}
#u280_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u280_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-9px;
  width:18px;
  height:18px;
}
#u280_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:337px;
  width:0px;
  height:0px;
}
#u281_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:96px;
  height:10px;
}
#u281_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u281_seg2 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:-9px;
  width:18px;
  height:18px;
}
#u281_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:337px;
  width:0px;
  height:0px;
}
#u282_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:115px;
  height:10px;
}
#u282_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u282_seg2 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:-9px;
  width:18px;
  height:18px;
}
#u282_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:517px;
  width:0px;
  height:0px;
}
#u283_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:103px;
  height:10px;
}
#u283_seg1 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:-159px;
  width:10px;
  height:164px;
}
#u283_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u283_seg3 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:-165px;
  width:18px;
  height:18px;
}
#u283_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-58px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:358px;
  width:0px;
  height:0px;
}
#u284_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:69px;
}
#u284_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u284_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:52px;
  width:18px;
  height:18px;
}
#u284_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:473px;
  width:0px;
  height:0px;
}
#u285_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:49px;
}
#u285_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:39px;
  width:106px;
  height:10px;
}
#u285_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u285_seg3 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:35px;
  width:18px;
  height:18px;
}
#u285_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:35px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
